<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블로그 리스트</title>
    {% load static %}
</head>
<body>
    {% for post in object_list %}
        {% if post.head_image %}
            <img src="{{post.head_image.url}}" alt="기사사진" width="750" height="300">
        {% else %}
            <img src="{% static 'blog/img/noImg.png' %}" alt="" width="750" height="300">
        {% endif %}
        <h1>{{post.pk}} : {{post.title}}</h1>
        <h4>
            {{post.content | truncatewords:20}}
            <a href="{% url 'detail' post.pk %}">Read more...</a>
        </h4>
        <h4>Post on {{post.created}} by {{post.author}}</h4>
        <hr color="red">
        <br><br>
    {% endfor %}
</body>
</html>